@page "/"

<PageTitle>ANA SAYFA</PageTitle>

<h1>PROMOPAZAR</h1>
<h1>DOSTWARE</h1>
<p>CRM PROJECT</p>

<img src="/assets/Image/promopazar.JPG" alt="PromoPazar Logo" style="width: 1000px; height: auto;" />

